<!doctype html>
<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
var myVar = setInterval(myTimer, 1000);

function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>

<!-- <script>
  var myAppear = setInterval(myEvent,1000)

  function ()
</script> -->
<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 0;
  var id = setInterval(frame, 20);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
    }
  }
}
</script>

 <!--  <script>
  $( function() {
    $( ".draggable" ).draggable();
  } );
  </script>

  <script>
   $(document).ready(function() {
     var widget = SC.Widget(document.getElementById('soundcloud_widget'));
     widget.bind(SC.Widget.Events.READY, function() {
       console.log('Ready...');
     });
     $('#listen').click(function() {
       widget.toggle();
     });
   });
  </script>
  <script>

   $(function(){
    $('.carousel').carousel({
  interval: 10000
}); };

  </script>
<script>
$(document).ready(function(){
    animateDiv();

});

function makeNewPosition(){

    // Get viewport dimensions (remove the dimension of the div)
    var h = $(window).height() - 50;
    var w = $(window).width() - 50;

    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);

    return [nh,nw];

}

function animateDiv(){
    var newq = makeNewPosition();
    var oldq = $('.a').offset();
    var speed = calcSpeed([oldq.top, oldq.left], newq);

    $('.a').animate({ top: newq[0], left: newq[1] }, speed, function(){
      animateDiv();
    });

};

function calcSpeed(prev, next) {

    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 0.1;

    var speed = Math.ceil(greatest/speedModifier);

    return speed;

}
</script>
<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script>
<script>
  function myFunction2() {
    var x = document.getElementById("book");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script>
<script>
  function myFunction4() {
    var x = document.getElementById("myFun");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script> -->


</head>
<body onload="move();">

<div id="top">Memory Diagnostics Tool</div>

<div id="middle" style="color:silver; font-size:1.2em;">
A problem has been detected and windows has been shutdown to prevent damage to your computer.
<br>
<br>
ISABELLA_
<br>
<br>
If this is the first time you've seen this error, <a>click here</a>. If this screen appears again, follow these steps:
<br>
<br>
Check to make sure any new hardware or software is properly installed. If problems continue, enable Safe Mode.
<br>


Status:
<div id="myProgress">
  <div id="myBar"></div>
</div>
<br>
<!-- <button onclick="move()">Click Me</button> -->

<div class= "row" style="margin:0px;">
  <div class="col-xs-12 col-sm-8 draggable" style="margin:0px">


  <% @events.each do |event| %>

    <div  class="row boxy" style="color:yellow;">
      <div class="col-xs-2 col-sm-2"><%= event.date %></div>
      <div class="col-xs-3 col-sm-6" style="display:flex; flex-direction: row; align-items: center;"><%= event.name %></div>
      <div class="col-xs-2 col-sm-3 " style="display:flex; flex-direction: row; align-items: : center;"><%= event.location %></div>

    </div>

  <%end%>

</div>

<div class="col-xs-12 col-sm-4 draggable" style="margin:0px">
Technical information:
<br>
<br>
overall test status: incomplete
<br>
<br>
Checking for memory problems...
<br>
<br>
This might take several minutes.
<br>
<br>
Beginning dump of physical memory
<br>
<br>
Physical memory dump complete
<br>
<br>
Contact <%=  mail_to('isabella.koen@gmail.com',"system administrator")%> for further assistance

</div>

</div>
</div>
<div id="bottom">
  <span style="left:0;">2017</span>
  <span id="demo" style="right:100%"></span>
</div>
