<!--
<div class="container">
  <div class="row" align="middle">
    <div class="col-xs-12 col-sm-6 release">
<iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335217331&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>
        <div class="col-xs-12 col-sm-6 release"><iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/331430281&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
        <div class="col-xs-12 col-sm-6 release"><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/306880570%3Fsecret_token%3Ds-WTG0S&amp;color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="50%" height="300" frameborder="no" scrolling="no">
        </iframe></div>
        <div class="col-xs-12 col-sm-6 release"><iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312745718&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>

        <div class="col-xs-12 col-sm-6 release"><iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206569882&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
        <div class="col-xs-12 col-sm-6 release"><iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/201869775&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>


  </div>
</div>
 -->

<!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/9086934&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>




 -->

 <!doctype html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://w.soundcloud.com/player/api.js"></script>
  <script>
   $(document).ready(function() {
     var widget = SC.Widget(document.getElementById('soundcloud_widget'));
     widget.bind(SC.Widget.Events.READY, function() {
       console.log('Ready...');
     });
     $('button').click(function() {
       widget.toggle();
     });
   });
  </script>
</head>
<body>

  <button>Play / Pause</button>
   <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/321842520&show_artwork=false&liking=false&sharing=false&auto_play=false&font=courier new&amp;color=000000&amp;theme_color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>
        <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/323505855&show_artwork=false&liking=false&sharing=false&auto_play=false&amp;color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>
        <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/323507381&show_artwork=false&liking=false&sharing=false&auto_play=false&amp;color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>
        <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320604446&show_artwork=false&liking=false&sharing=false&auto_play=false&amp;color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>
        <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293056740&show_artwork=false&liking=false&sharing=false&auto_play=false&amp;color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>
        <iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/278891202&show_artwork=false&liking=false&sharing=false&auto_play=false&amp;color=000000"
      width="420"
      height="120"
      frameborder="no"></iframe>

</body>
</html>


