<!DOCTYPE html>
<html>
  <head>
    <title>Auricle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:black; color:#f7f7f7;">

      <div class="navbar-wagon" >


       <a href="/" class="navbar-wagon-brand">
        <img src="https://i.imgur.com/KtlUlik.png" alt="logo" style="height:30px;"> </a>
          <a class="navbar-wagon-item" href="/pages/home">Calendar</a>
        <a class="navbar-wagon-item" href="/pages/mixes">Mixes</a>
         <a class="navbar-wagon-item" href="/pages/releases">Releases</a>
           <a class="navbar-wagon-item" href="/pages/about">About</a>
      </div>


    <%= yield %>
  </body>
</html>
